@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom gradient border for navigation */
.gradient-border {
  border: 2px solid transparent;
  border-radius: 36px;
  padding: 8px 20px;
  background: 
    linear-gradient(#0B152D, #0B152D) padding-box,
    linear-gradient(267deg, #00F0FF, #5200FF, #FF2DF7, #00F0FF) border-box; /* loop colors */

  background-size: 200% 200%; /* make it larger so it can animate */
  background-position: 0% 50%;
  animation: borderflow 5s linear infinite;
}

@keyframes borderflow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}


